// global scss file
html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
}

main {
	overflow-x: hidden;
}

ul {
	// .browser-defaultはブラウザーで設定されているデフォルト値
	&:not(.browser-default) {
		padding-left: 0;
		list-style-type: none;

		& > li {
			list-style-type: none;
		}
	}
}

a {
	color: inherit;
	text-decoration: none;
}
