<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Starter</title>
	<!-- StyleSheet -->
	<link rel="stylesheet" href="../../../css/main.css">
</head>

<body>
	<div class="container">
		<h1>BulletList</h1>
		<div class="row">
			<div class="col s12">
				<p class="rounded-label">.bullet-list</p>
				<ul class="bullet-list">
					<li class="bullet-list__item">
						webコンサルティング
					</li>
					<li class="bullet-list__item">
						デジタルマーケティング支援
					</li>
					<li class="bullet-list__item">
						CSS設計
					</li>
				</ul>
			</div><!-- /.col s12 -->
			<div class="col s12">
				<p class="rounded-label">.bullet-list .bullet-list--horizontal</p>
				<ul class="bullet-list bullet-list--horizontal">
					<li class="bullet-list__item">
						webコンサルティング
					</li>
					<li class="bullet-list__item">
						デジタルマーケティング支援
					</li>
					<li class="bullet-list__item">
						CSS設計
					</li>
					<li class="bullet-list__item">
						CMS構築
					</li>
				</ul>
			</div><!-- /.col s12 -->
			<div class="col s12">
				<p class="rounded-label">.bullet-list nest</p>
				<ul class="bullet-list">
					<li class="bullet-list__item">
						webコンサルティング
					</li>
					<li class="bullet-list__item">
						デジタルマーケティング支援
					</li>
					<li class="bullet-list__item">
						CSS設計
						<ul class="child-bullet-list">
							<li class="child-bullet-list__item">
								BEM
							</li>
							<li class="child-bullet-list__item">
								FROCSS
							</li>
							<li class="child-bullet-list__item">
								PRECSS
							</li>
						</ul>
					</li>
					<li class="bullet-list__item">
						JavaScript設計
					</li>
				</ul>
			</div><!-- /.col s12 -->
		</div><!-- /.row -->


	</div><!-- /.container -->

	<div style="height: 100px;"></div>
	<a class="btn btn--block" href="../../../index.html">戻る</a>
	<div style="height: 400px;"></div>


	<!-- JavaScript File -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</body>

</html>
