<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Starter</title>
	<!-- StyleSheet -->
	<link rel="stylesheet" href="../../../css/main.css">
</head>

<body>
	<div class="container">
		<h1>Cards</h1>
		<div class="row">
			<div class="col m6 s12">
				<p>.card-panel</p>
				<div class="card-panel">
					<span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quis corporis non dicta incidunt, quod repudiandae earum optio? Officiis, porro.</span>
				</div><!-- /.card-panel -->
			</div><!-- /.col m6 s12 -->
			<div class="col m6 s12">
				<p>.card</p>
				<div class="card">
					<div class="card__content">
						<p class="card__content--text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus corporis dicta eius fugit esse nemo laboriosam illo? Sit libero quibusdam nemo repellendus qui eos consectetur voluptatum voluptatibus id quisquam odio eum recusandae, adipisci unde laborum reprehenderit obcaecati dicta excepturi et.
						</p><!-- /.card__content--text -->
					</div><!-- /.card-content -->
				</div><!-- /.card -->
			</div><!-- /.col m6 s12 -->
		</div><!-- /.row -->

		<div class="row">
			<div class="col m6 s12">
				<p>.card .card--small</p>
				<div class="card card--small">
					<div class="card__content">
						<p class="card__content--text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus corporis dicta eius fugit esse nemo laboriosam illo?
							Sit libero quibusdam nemo repellendus qui eos consectetur voluptatum voluptatibus id quisquam odio eum recusandae,
							adipisci unde laborum reprehenderit obcaecati dicta excepturi et.
						</p><!-- /.card__content--text -->rerum?
					</div>
				</div><!-- /.card -->
			</div><!-- /.col m6 s12 -->
			<div class="col m6 s12">
				<p>.card .card--medium</p>
				<div class="card card--medium">
					<div class="card__content">
						<p class="card__content--text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus corporis dicta eius fugit esse nemo laboriosam illo?
							Sit libero quibusdam nemo repellendus qui eos consectetur voluptatum voluptatibus id quisquam odio eum recusandae,
							adipisci unde laborum reprehenderit obcaecati dicta excepturi et.
						</p><!-- /.card__content--text -->
					</div><!-- /.card-content -->
				</div><!-- /.card -->
			</div><!-- /.col m6 s12 -->
		</div><!-- /.row -->

		<div class="row">
			<div class="col m6 s12">
				<p>.card .card--large</p>
				<div class="card card--large">
					<div class="card__content">
						<p class="card__content--text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus corporis dicta eius fugit esse nemo laboriosam illo?
							Sit libero quibusdam nemo repellendus qui eos consectetur voluptatum voluptatibus id quisquam odio eum recusandae,
							adipisci unde laborum reprehenderit obcaecati dicta excepturi et.
						</p><!-- /.card__content--text -->
					</div>
				</div><!-- /.card -->
			</div><!-- /.col m6 s12 -->
			<div class="col m6 s12">
				<p>.card .card--large</p>
				<div class="card">
					<div class="card__content">
						<span class="card-title">Card Title</span><!-- /.card-title -->
						<p class="card__content--text">
							Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus corporis dicta eius fugit esse nemo laboriosam illo?
							Sit libero quibusdam nemo repellendus qui eos consectetur voluptatum voluptatibus id quisquam odio eum recusandae,
							adipisci unde laborum reprehenderit obcaecati dicta excepturi et.
						</p><!-- /.card__content--text -->
					</div>
					<div class="card__action">
						<a class="card__action--link" href="#">READ MORE</a>
						<a class="card__action--link" href="#">READ MORE</a>
					</div><!-- /.card-action -->
				</div><!-- /.card -->
			</div><!-- /.col m6 s12 -->
		</div><!-- /.row -->
		<div class="row">
			<div class="col m6 s12">
				<p>.card with image</p>
				<div class="card">
					<div class="card__image-wrapper">
						<img src="../../../img/img1.jpg" alt="" class="card__image">
						<span class="card__image--title">Card Title</span><!-- /.card__title -->
					</div><!-- /.card__image-wrapper -->
					<div class="card__content">
						<p class="card__content--text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat quisquam nulla nihil quos magnam, impedit est ipsum deleniti. Commodi accusantium impedit voluptas vero repellendus illum tempore quasi consequatur, qui magni sit soluta suscipit quaerat? Eveniet distinctio natus assumenda similique molestias.</p>
					</div><!-- /.card__content -->
					<div class="card__action">
						<a class="card__action--link" href="">READ MORE</a>
						<a class="card__action--link" href="">READ MORE</a>
					</div><!-- /.card__action -->
				</div><!-- /.card -->
			</div><!-- /.col m6 s12 -->
			<div class="col m6 s12">
				<p>.card .card--small with image</p>
				<div class="card card--small">
					<div class="card__image-wrapper">
						<img src="../../../img/img2.jpg" alt="" class="card__image">
						<span class="card__image--title">Card Title</span><!-- /.card__image--title -->
					</div><!-- /.card__image-wrapper -->
					<div class="card__content">
						<p class="card__content--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae fuga quae culpa ipsam id possimus minima tempora obcaecati, quo suscipit optio dignissimos cum doloremque pariatur, velit voluptas temporibus ea voluptates.</p>
					</div><!-- /.card__content -->
					<div class="card__action">
						<a href="#" class="card__action--link">READ MORE</a><!-- /.card__action--link -->
					</div><!-- /.card__action -->
				</div><!-- /.card -->
			</div><!-- /.col m6 s12 -->
		</div><!-- /.row -->
		<div class="row">
			<div class="col m6 s12">
				<p>.card .card--medium with image</p>
				<div class="card card--medium">
					<div class="card__image-wrapper">
						<img src="../../../img/img3.jpg" alt="" class="card__image">
						<span class="card__image--title">Card Title</span><!-- /.card__image--title -->
					</div><!-- /.card__image-wrapper -->
					<div class="card__content">
						<p class="card__content--text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus vitae suscipit ratione quaerat neque iste maxime iusto sapiente commodi sint. Debitis maxime rem molestias maiores repellat aperiam dolorem beatae reprehenderit.
						</p><!-- /.card__content--text -->
					</div><!-- /.card__content -->
					<div class="card__action">
						<a href="#" class="card__action--link">READ ME</a><!-- /.card__action--link -->
					</div><!-- /.card__action -->
				</div><!-- /.card card--medium -->
			</div><!-- /.col m6 s12 -->
			<div class="col m6 s12">
				<p>.card .card--large with image</p>
				<div class="card card--large">
					<div class="card__image-wrapper">
						<img src="../../../img/img4.jpg" alt="" class="card__image">
						<span class="card__image--title">Card Title</span><!-- /.card__image--title -->
					</div><!-- /.card__image-wrapper -->
					<div class="card__content">
						<p class="card__content--text">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus vitae suscipit ratione quaerat neque iste maxime iusto sapiente commodi sint. Debitis maxime rem molestias maiores repellat aperiam dolorem beatae reprehenderit.
						</p><!-- /.card__content--text -->
					</div><!-- /.card__content -->
					<div class="card__action">
						<a href="#" class="card__action--link">READ ME</a><!-- /.card__action--link -->
					</div><!-- /.card__action -->
				</div><!-- /.card card--medium -->
			</div><!-- /.col m6 s12 -->
		</div><!-- /.row -->


	</div><!-- /.container -->

	<a href="../../../index.html">戻る</a>



	<!-- JavaScript File -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="../../../js/main.js"></script>
</body>

</html>
