<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Starter</title>
	<!-- StyleSheet -->
	<link rel="stylesheet" href="../../../css/main.css">
</head>

<body>
	<div class="container">
		<h1>Cross tables</h1>
		<div class="row">
			<div class="col m12 s12">
				<p class="rounded-label">.cross-table</p>
				<div class="cross-table">
					<table class="cross-table__inner">
						<thead class="cross-table__headers">
							<tr class="cross-table__header-row">
								<th class="cross-table__header cross-table__header--md-sticky">
									Name
								</th><!-- /.cross-table__header cross-table__header--md-sticky -->
								<th class="cross-table__header">
									Age
								</th><!-- /.cross-table__header -->
								<th class="cross-table__header">
									Email
								</th><!-- /.cross-table__header -->
								<th class="cross-table__header">
									Password
								</th><!-- /.cross-table__header -->
							</tr><!-- /.cross-table__header-row -->
						</thead><!-- /.cross-table__headers -->
						<tbody class="cross-table__body">
							<tr class="cross-table__body-row">
								<th class="cross-table__header cross-table__header--md-sticky">
									Brad
								</th><!-- /.cross-table__header cross-table__header--md-sticky -->
								<th class="cross-table__text">
									55
								</th><!-- /.cross-table__text -->
								<th class="cross-table__text">
									brad@gggmail.com
								</th><!-- /.cross-table__text -->
								<th class="cross-table__text">
									bradpassword
								</th><!-- /.cross-table__text -->
							</tr><!-- /.cross-table__body-row -->
							<tr class="cross-table__body-row">
								<th class="cross-table__header cross-table__header--md-sticky">
									Andrew
								</th><!-- /.cross-table__header cross-table__header--md-sticky -->
								<th class="cross-table__text">
									44
								</th><!-- /.cross-table__text -->
								<th class="cross-table__text">
									andrew@gggmail.com
								</th><!-- /.cross-table__text -->
								<th class="cross-table__text">
									andrewpassword
								</th><!-- /.cross-table__text -->
							</tr><!-- /.cross-table__body-row -->
							<tr class="cross-table__body-row">
								<th class="cross-table__header cross-table__header--md-sticky">
									Stephen
								</th><!-- /.cross-table__header cross-table__header--md-sticky -->
								<th class="cross-table__text">
									56
								</th><!-- /.cross-table__text -->
								<th class="cross-table__text">
									stephen@gggmail.com
								</th><!-- /.cross-table__text -->
								<th class="cross-table__text">
									stepehenpassword
								</th><!-- /.cross-table__text -->
							</tr><!-- /.cross-table__body-row -->
						</tbody><!-- /.cross-table__body -->
					</table><!-- /.cross-table__inner -->
				</div><!-- /.cross-table -->
			</div><!-- /.col m12 s12 -->
		</div><!-- /.row -->


	</div><!-- /.container -->

	<a class="btn btn--block" href="../../../index.html">戻る</a>
	<div style="margin-bottom: 400px;"></div>


	<!-- JavaScript File -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<script src="../../../js/main.js"></script>
</body>

</html>
