.nav {
	color: $navbar-font-color;
	@extend .z-depth-1;
	background-color: $primary-color;
	width: 100%;
	height: $navbar-height-mobile;
	line-height: $navbar-line-height-mobile;

	i,
	i.material-icons {
		display: block;
		font-size: 24px;
		height: $navbar-height-mobile;
		line-height: $navbar-line-height-mobile;
	}

	.nav__wrapper {
		position: relative;
		height: 100%;
	}

	// Logo
	.nav__brand-logo {
		position: absolute;
		color: $navbar-font-color;
		display: inline-block;
		font-size: $navbar-brand-font-size;
		padding: 0;

		&.nav__brand-logo--center {
			left: 50%;
			transform: translateX(-50%);
		}

		@media #{$medium-and-down} {
			left: 50%;
			transform: translateX(-50%);

			&.nav__brand-logo--left, &.nav__brand-logo--right {
				padding: 0;
				transform: none;
			}

			&.nav__brand-logo--left {
				left: .5rem;
			}
			&.nav__brand-logo--right {
				right: .5rem;
				left: auto;
			}
		}

		&.nav__brand-logo--right {
			right: .5rem;
			padding: 0;
		}

		.brand-logo__icon,
		.brand-logo__icon.material-icons {
			float: left;
			margin-right: 15px;
		}
	}

	// Title
	.nav__title {
		display: inline-block;
		font-size: 32px;
		padding: 28px 0;
	}
}

// Navbar Links
ul {
	margin: 0;

	.nav__item {
		transition: background-color .3s;
		float: left;
		padding: 0;

		.right {
			margin-left: 1rem;
			float: right;
		}

		&.active {
			background-color: rgba(0, 0, 0, .1);
		}
	}

	.nav__link {
		transition: background-color .3s;
		font-size: $navbar-font-size;
		color: $navbar-font-color;
		display: block;
		padding: 0 15px;
		cursor: pointer;

		&.btn, &.btn--large, &.btn--flat {
			display: inline-block;
			margin-top: -2px;
			margin-left: 15px;
			margin-right: 15px;

			// & > .material-icons {
			// 	height: inherit;
			// 	line-height: inherit;
			// }
			&:hover {
				background-color: rgba(0, 0, 0, .1);
			}
		}

		&:hover {
			background-color: rgba(0, 0, 0, .1);
		}
	}

	&.left {
		float: left;
	}
	&.right {
		float: right;
	}
}

@media #{$medium-and-up} {
	.nav,
	.nav .nav__wrapper i {
		height: $navbar-height;
		line-height: $navbar-line-height;
	}
}
