// 14. Side Navigation
// ==========================================================================

$sidenav-width: 300px !default;
$sidenav-font-size: 14px !default;
$sidenav-font-color: rgba(0, 0, 0, .87) !default;
$sidenav-bg-color: #fff !default;
$sidenav-padding: 16px !default;
$sidenav-item-height: 48px !default;
$sidenav-line-height: $sidenav-item-height !default;

.sidenav {
	position: fixed;
	width: $sidenav-width;
	left: 0;
	top: 0;
	margin: 0;
	transform: translateX(-100%);
	height: 100%;
	height: calc(100% + 60px);
	height: -moz-calc(100%); //Temporary Firefox Fix
	padding-bottom: 60px;
	background-color: $sidenav-bg-color;
	z-index: 999;
	overflow-y: auto;
	will-change: transform;
	backface-visibility: hidden;
	// transform: translateX(-105%);

	@extend .z-depth-1;

	// Right Align
	.sidenav.right-aligned {
		right: 0;
		transform: translateX(105%);
		left: auto;
		// transform: translateX(100%);
	}

	.sidenav__divider {
		height: 1px;
		overflow: hidden;
		background-color: color("grey", "lighten-2");
		margin: ($sidenav-padding / 2) 0 0 0;
	}

	.sidenav__subheader {
		cursor: initial;
		pointer-events: none;
		color: rgba(0, 0, 0, .54);
		font-size: $sidenav-font-size;
		font-weight: 500;
		line-height: $sidenav-line-height;
		&:hover {
			background-color: transparent;
		}
	}

	.sidenav__user-view {
		position: relative;
		padding: ($sidenav-padding * 2) ($sidenav-padding * 2) 0;
		margin-bottom: $sidenav-padding / 2;

		& > .user-view__link {
			&:hover {
				background-color: transparent;
			}
			height: auto;
			padding: 0;
		}

		.user-view__background {
			overflow: hidden;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
		}

		.user-view__circle-image, .user-view__name, .user-view__email {
			display: block;
		}

		.user-view__circle-image {
			border-radius: 50%;
			height: 64px;
			width: 64px;
		}

		.user-view__name,
		.user-view__email {
			font-size: $sidenav-font-size;
			line-height: $sidenav-line-height / 2;
		}

		.user-view__name {
			margin-top: 16px;
			font-weight: 500;
		}

		.user-view__email {
			padding-bottom: 16px;
			font-weight: 400;
		}
	}
}

.sidenav__link {
	color: $sidenav-font-color;
	display: block;
	font-size: $sidenav-font-size;
	font-weight: 500;
	height: $sidenav-item-height;
	line-height: $sidenav-line-height;
	padding: 0 ($sidenav-padding * 2);

	&:hover {
		background-color: rgba(0, 0, 0, .05);
	}

	&.btn, &.btn-large, &.btn-flat {
		margin: 10px 15px;
	}

	&.btn,
	&.btn-large {
		color: $button-raised-color;
	}
	&.btn-flat {
		color: $button-flat-color;
	}

	&.btn:hover,
	&.btn-large:hover {
		background-color: lighten($button-raised-background, 5%);
	}

	& > i,
	& > i.material-icons {
		float: left;
		height: $sidenav-item-height;
		line-height: $sidenav-line-height;
		margin: 0 ($sidenav-padding * 2) 0 0;
		width: $sidenav-item-height / 2;
		color: rgba(0, 0, 0, .54);
	}
}

// Sidenav collapsible styling
.sidenav__item {
	float: none;
	line-height: $sidenav-line-height;

	&.active {
		background-color: rgba(0, 0, 0, .05);
	}

	.collapsible {
		border: none;
		box-shadow: none;

		.collapsible__item {
			padding: 0;
		}
	}

	.collapsible__header {
		background-color: transparent;
		border: none;
		line-height: inherit;
		height: inherit;
		padding: 0 $sidenav-padding;
		i {
			line-height: inherit;
		}

		&:hover {
			background-color: rgba(0, 0, 0, .05);
		}
	}
	.collapsible__body {
		padding: 0;
		border: 0;
		background-color: $collapsible-header-color;
	}
}
.sidenav .collapsible__body-list {
	a {
		padding: 0 (7.5px + $sidenav-padding) 0 (15px + $sidenav-padding);
	}
	&:hover {
		background-color: $primary-color;
		a {
			color: $sidenav-bg-color;
		}
	}
	&:active {
		background-color: $secondary-color;
		a {
			color: $sidenav-bg-color;
		}
	}
}


// Touch interaction
.drag-target {
	// Right Align
	&.right-aligned {
		right: 0;
	}
	height: 100%;
	width: 10px;
	position: fixed;
	top: 0;
	z-index: 998;
}


// // Fixed Sidenav shown
.sidenav.sidenav-fixed {
	// Right Align
	&.right-aligned {
		right: 0;
		left: auto;
	}
	left: 0;
	transform: translateX(0);
	position: fixed;
}

// // Fixed Sidenav hide on smaller
@media #{$medium-and-down} {
	.sidenav {
		&.sidenav-fixed {
			transform: translateX(-105%);

			&.right-aligned {
				transform: translateX(105%);
			}
		}

		> .sidenav__link {
			padding: 0 $sidenav-padding;
		}

		.sidenav__user-view {
			padding: $sidenav-padding $sidenav-padding 0;
		}
	}
}


.sidenav__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	height: 120vh;
	background-color: rgba(0, 0, 0, .5);
	z-index: 997;
	display: none;
}
