// 13. Navigation Bar
// ==========================================================================

$navbar-height: 64px !default;
$navbar-line-height: $navbar-height !default;
$navbar-height-mobile: 56px !default;
$navbar-line-height-mobile: $navbar-height-mobile !default;
$navbar-font-size: 1rem !default;
$navbar-font-color: #fff !default;
$navbar-brand-font-size: 2.1rem !default;

.nav {
	color: $navbar-font-color;
	@extend .z-depth-1;
	background-color: $primary-color;
	width: 100%;
	height: $navbar-height-mobile;
	line-height: $navbar-line-height-mobile;

	.nav__link {
		color: $navbar-font-color;
	}


	.nav__icon.material-icons {
		display: block;
		font-size: 24px;
		height: $navbar-height-mobile;
		line-height: $navbar-line-height-mobile;
	}

	.nav__wrapper {
		position: relative;
		height: 100%;
	}

	@media #{$large-and-up} {
		.nav__link.sidenav__trigger {
			display: none;
		}
	}


	// Collapse button
	.sidenav__trigger {
		float: left;
		position: relative;
		z-index: 1;
		height: $navbar-height-mobile;
		margin: 0 18px;

		.sidenav__icon {
			height: $navbar-height-mobile;
			line-height: $navbar-line-height-mobile;
		}
	}


	// Logo
	.nav__brand-logo {
		position: absolute;
		color: $navbar-font-color;
		display: inline-block;
		font-size: $navbar-brand-font-size;
		padding: 0;

		&.nav__brand-logo--center {
			left: 50%;
			transform: translateX(-50%);
		}

		@media #{$medium-and-down} {
			left: 50%;
			transform: translateX(-50%);

			&.nav__brand-logo--left, &.nav__brand-logo--right {
				padding: 0;
				transform: none;
			}

			&.nav__brand-logo--left {
				left: .5rem;
			}
			&.nav__brand-logo--right {
				right: .5rem;
				left: auto;
			}
		}

		&.nav__brand-logo--right {
			right: .5rem;
			padding: 0;
		}


		.nav__icon.material-icons {
			float: left;
			margin-right: 15px;
		}
	}


	// Title
	.nav-title {
		display: inline-block;
		font-size: 32px;
		padding: 28px 0;
	}


	// Navbar Links
	.nav__list {
		margin: 0;

		.nav__item {
			transition: background-color .3s;
			float: left;
			padding: 0;

			&.active {
				background-color: rgba(0, 0, 0, .1);
			}
		}
		.nav__link {
			transition: background-color .3s;
			font-size: $navbar-font-size;
			color: $navbar-font-color;
			display: block;
			padding: 0 15px;
			cursor: pointer;

			&.btn, &.btn--large, &.btn--flat {
				margin-top: -2px;
				margin-left: 15px;
				margin-right: 15px;

				& > .material-icons {
					height: inherit;
					line-height: inherit;
				}
			}

			&:hover {
				background-color: rgba(0, 0, 0, .1);
			}
		}

		&.nav__list--left {
			float: left;
		}
	}

	// Navbar Search Form
	.nav__form {
		height: 100%;
	}

	.nav__input-field {
		margin: 0;
		height: 100%;

		.nav__input {
			height: 100%;
			font-size: 1.2rem;
			border: none;
			padding-left: 2rem;

			&:focus {
				border: none;
				box-shadow: none;
			}
		}

		.nav__label {
			top: 0;
			left: 0;

			i {
				color: rgba(255, 255, 255, .7);
				transition: color .3s;
			}
			&.active i {
				color: $navbar-font-color;
			}
		}
	}
}

&.nav-extended {
	height: auto;

	.nav-wrapper {
		min-height: $navbar-height-mobile;
		height: auto;
	}

	.nav-content {
		position: relative;
		line-height: normal;
	}
}

// Fixed Navbar
.navbar-fixed {
	position: relative;
	height: $navbar-height-mobile;
	z-index: 997;

	nav {
		position: fixed;
	}
}
@media #{$medium-and-up} {
	nav.nav-extended .nav-wrapper {
		min-height: $navbar-height;
	}
	nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
		height: $navbar-height;
		line-height: $navbar-line-height;
	}
	.navbar-fixed {
		height: $navbar-height;
	}
}
