// Breadcrumbs
.breadcrumb {
	font-size: 18px;
	color: #777;

	i.material-icons {
		display: inline-block;
		vertical-align: top;
		margin: 0 10px 0 8px;
		font-size: 24px;
	}

	// &:before {
	// 	content: "\E5CC";
	// 	color: rgba(255, 255, 255, .7);
	// 	vertical-align: top;
	// 	display: inline-block;
	// 	font-family: "Material Icons";
	// 	font-weight: normal;
	// 	font-style: normal;
	// 	font-size: 25px;
	// 	margin: 0 10px 0 8px;
	// 	-webkit-font-smoothing: antialiased;
	// }

	// &:first-child:before {
	// 	display: none;
	// }

	&:last-child {
		color: #e25c00;
	}
}
