.bullet-list {
	list-style-type: none;
	& > *:last-child {
		margin-bottom: 0;
	}
	.bullet-list__item {
		position: relative;
		padding-left: 1em;
		margin-bottom: 10px;
		&::before {
			content: "";
			position: absolute;
			top: .5em;
			left: 0;
			display: block;
			width: .4em;
			height: .4em;
			background-color: #e25c00;
			border-radius: 50%;
		}
	}
}

// 横並び
.bullet-list--horizontal {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: -10px;
	.bullet-list__item {
		/* flex: calc(50% - 5px); */
		flex: calc(45%);
		margin-right: 10px;
	}
	.bullet-list__item:nth-of-type(even) {
		margin-right: 0;
	}
}

// ネスト
.child-bullet-list {
	padding-left: 1.5em;
	margin-top: 10px;
	list-style-type: circle;
	& > *:last-child {
		margin-bottom: 0;
	}
	.child-bullet-list__item {
		margin-bottom: 10px;
	}
}
