// 4. Cards
// ==========================================================================

$card-padding: 24px !default;
$card-bg-color: #fff !default;
$card-link-color: color("orange", "accent-2") !default;
$card-link-color-light: lighten($card-link-color, 20%) !default;

.card-panel {
	// --structure--
	transition: box-shadow .25s;
	padding: $card-padding;
	margin: $element-top-margin 0 $element-bottom-margin 0;
	border-radius: 2px;
	@extend .z-depth-1;
	// skin--
	background-color: $card-bg-color;
}

.card {
	// --structure--
	position: relative;
	margin: $element-top-margin 0 $element-bottom-margin 0;
	transition: box-shadow .25s;
	border-radius: 2px;
	@extend .z-depth-1;
	// --skin--
	background-color: $card-bg-color;
}
.card__content {
	padding: $card-padding;
	border-radius: 0 0 2px 2px;

	.card__content--text {
		margin: 0;
	}
	.card__content--title {
		display: block;
		line-height: 32px;
		margin-bottom: 8px;

		i {
			line-height: 32px;
		}
	}
}
.card__title {
	font-size: 24px;
	font-weight: 300;
	&.activator {
		cursor: pointer;
	}
}
.card__image-wrapper {
	position: relative;

	// Image background for content
	& > .card__image {
		display: block;
		border-radius: 2px 2px 0 0;
		position: relative;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
	}

	.card__image--title {
		color: $card-bg-color;
		position: absolute;
		bottom: 0;
		left: 0;
		max-width: 100%;
		padding: $card-padding;
	}
}
.card__action {
	&:last-child {
		border-radius: 0 0 2px 2px;
	}
	background-color: inherit; // Use inherit to inherit color classes
	border-top: 1px solid rgba(160, 160, 160, .2);
	position: relative;
	padding: 16px $card-padding;

	.card__action--link {
		color: $card-link-color;
		margin-right: $card-padding;
		transition: color .3s ease;
		text-transform: uppercase;

		&:hover {
			color: $card-link-color-light;
		}
	}
}

// Card Sizes
.card.card--small {
	height: 300px;
}
.card.card--medium {
	height: 400px;
}
.card.card--large {
	height: 500px;
}
.card.card--small, .card.card--medium, .card.card--large {
	position: relative;

	.card__image-wrapper {
		max-height: 60%;
		overflow: hidden;
	}
	.card__content {
		max-height: 100%;
		overflow: hidden;
	}
	.card__image-wrapper + .card__content {
		max-height: 40%;
	}
	.card__action {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.card__reveal {
	padding: $card-padding;
	position: absolute;
	background-color: $card-bg-color;
	width: 100%;
	overflow-y: auto;
	left: 0;
	top: 100%;
	height: 100%;
	z-index: 3;
	display: none;

	.card__reveal--title {
		cursor: pointer;
		display: block;
	}
}

// Sticky Action Section
.card.sticky-action {
	.card-action {
		z-index: 2;
	}

	.card-reveal {
		z-index: 1;
		padding-bottom: 64px;
	}
}


// Horizontal Cards
.card.card--horizontal {
	.card-image {
		max-width: 50%;
		img {
			border-radius: 2px 0 0 2px;
			max-width: 100%;
			width: auto;
		}
	}
	&.small, &.medium, &.large {
		.card-image {
			height: 100%;
			max-height: none;
			overflow: visible;

			img {
				height: 100%;
			}
		}
	}
	display: flex;

	.card-stacked {
		display: flex;
		flex-direction: column;
		flex: 1;
		position: relative;

		.card-content {
			flex-grow: 1;
		}
	}
}
