// 23. Collections
// ==========================================================================

$collection-border-color: #e0e0e0 !default;
$collection-bg-color: #fff !default;
$collection-active-bg-color: $secondary-color !default;
$collection-active-color: lighten($secondary-color, 55%) !default;
$collection-hover-bg-color: #ddd !default;
$collection-link-color: $secondary-color !default;
$collection-line-height: 1.5rem !default;

// Collections
.collection {
	// --structure--
	margin: $element-top-margin 0 $element-bottom-margin 0;
	border: 1px solid $collection-border-color;
	border-radius: 2px;
	overflow: hidden;
	position: relative;


	.collection__item {
		background-color: $collection-bg-color;
		line-height: $collection-line-height;
		padding: 10px 20px;
		margin: 0;
		border-bottom: 1px solid $collection-border-color;

		&.collection__item--link {
			display: block;
			transition: .25s;
			color: $collection-link-color;
			&:not(.active):hover {
				background-color: $collection-hover-bg-color;
			}
		}

		.collection__secondary-content {
			float: right;
			color: $secondary-color;
		}


		&:last-child {
			border-bottom: none;
		}

		&.active {
			background-color: $collection-active-bg-color;
			color: $collection-active-color;

			.collection__secondary-content {
				color: #fff;
			}
		}
	}
	&.collection--with-header {
		.collection__header {
			background-color: $collection-bg-color;
			border-bottom: 1px solid $collection-border-color;
			padding: 10px 20px;
		}

		& > .collection__item {
			padding-left: 30px;
		}
		& > .collection__item.collection__item--with-avatar {
			padding-left: 72px;
		}
	}
	// Avatar Collection
	&.collection--with-avatar {
		& > .collection__item {
			min-height: 84px;
			padding-left: 72px;
			position: relative;
			// Don't style circles inside preloader classes.
			& > .collection__avatar {
				// --structure--
				position: absolute;
				width: 42px;
				height: 42px;
				overflow: hidden;
				left: 15px;
				display: inline-block;
				vertical-align: middle;
				// --skin--
				font-size: 18px;
				line-height: 42px;
				color: #fff;
				background-color: #999;
				text-align: center;
			}
			.collection__item--title {
				font-size: 16px;
			}
			.collection__item--text {
				margin: 0;
			}
			.collection__secondary-content {
				position: absolute;
				top: 16px;
				right: 16px;
			}
		}
	}
}
