// 9. Dropdown
// ==========================================================================

$dropdown-bg-color: #fff !default;
$dropdown-hover-bg-color: #eee !default;
$dropdown-color: $secondary-color !default;
$dropdown-item-height: 50px !default;

.dropdown__content {
	&:focus {
		outline: 0;
	}


	@extend .z-depth-1;
	background-color: $dropdown-bg-color;
	margin: 0;
	display: none;
	min-width: 100px;
	overflow-y: auto;
	opacity: 0;
	position: absolute;
	left: 0;
	top: -52px;
	z-index: 9999; // TODO: Check if this doesn't break other things
	transform-origin: 0 0;


	.dropdown__item {
		clear: both;
		color: $off-black;
		cursor: pointer;
		min-height: $dropdown-item-height;
		line-height: 1.5rem;
		width: 100%;
		text-align: left;

		&:hover, &.active {
			background-color: $dropdown-hover-bg-color;
		}

		&:focus {
			outline: none;
		}

		&.divider {
			min-height: 0;
			height: 1px;
		}

		& > .dropdown__link, & > .dropdown__text {
			font-size: 16px;
			color: $dropdown-color;
			display: block;
			line-height: 22px;
			padding: (($dropdown-item-height - 22) / 2) 16px;
		}

		& > .dropdown__label {
			top: 1px;
			left: 0;
			height: 18px;
		}

		// Icon alignment override
		& > .dropdown__icon {
			height: inherit;
			line-height: inherit;
			float: left;
			margin: 0 24px 0 0;
			width: 24px;
		}
	}
}

body.keyboard-focused {
	.dropdown__content .dropdown__item:focus {
		background-color: darken($dropdown-hover-bg-color, 8%);
	}
}

// Input field specificity bugfix
// .input-field.col .dropdown-content [type="checkbox"] + label {
// 	top: 1px;
// 	left: 0;
// 	height: 18px;
// 	transform: none;
// }

.dropdown__trigger {
	cursor: pointer;
}
