// 17. Tabs
// ==========================================================================

$tabs-underline-color: $primary-color-light !default;
$tabs-text-color: $primary-color !default;
$tabs-bg-color: #fff !default;


.tabs {
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	height: 48px;
	width: 100%;
	background-color: $tabs-bg-color;
	margin: 0 auto;
	white-space: nowrap;

	.indicator {
		position: absolute;
		bottom: 0;
		height: 2px;
		background-color: $tabs-underline-color;
		will-change: left, right;
	}
}

.tab {
	display: inline-block;
	text-align: center;
	line-height: 48px;
	height: 48px;
	padding: 0;
	margin: 0;
	text-transform: uppercase;

	.tab__link {
		color: rgba($tabs-text-color, .7);
		display: block;
		width: 100%;
		height: 100%;
		padding: 0 24px;
		font-size: 14px;
		text-overflow: ellipsis;
		overflow: hidden;
		transition: color .28s ease, background-color .28s ease;

		&:hover,
		&.active {
			background-color: transparent;
			color: $tabs-text-color;
		}

		&:focus,
		&:focus.active {
			background-color: transparentize($tabs-underline-color, .8);
			outline: none;
		}
	}

	&.disabled a,
	&.disabled a:hover {
		color: rgba($tabs-text-color, .4);
		cursor: default;
	}
}

.tabs.tabs--transparent {
	background-color: transparent;

	.tab .tab__link {
		color: rgba(255, 255, 255, .7);
	}

	.tab .tab__link:hover,
	.tab .tab__link.active {
		color: #fff;
	}
	.tab.disabled .tab__link,
	.tab.disabled .tab__link:hover {
		color: rgba(255, 255, 255, .7);
	}

	.indicator {
		background-color: #fff;
	}
}

.tabs.tabs--fixed-width {
	display: flex;

	.tab {
		flex-grow: 1;
	}
}

// Fixed Sidenav hide on smaller
@media #{$medium-and-down} {
	.tabs {
		display: flex;

		.tab {
			flex-grow: 1;

			.tab__link {
				padding: 0 12px;
			}
		}
	}
}
