// 18-3. Cross Tables
// ==========================================================================

$cross-table-border: 1px solid #ddd !default;
$cross-table-cell-padding: 15px !default;
$cross-table-header-background-color: #efefef !default;

.cross-table {
	border: $cross-table-border;
}
.cross-table__inner {
	width: 100%;
	text-align: center;
	table-layout: fixed;
}
.cross-table__header {
	padding: $cross-table-cell-padding;
	background-color: $cross-table-header-background-color;
	border-right: $cross-table-border;
	border-bottom: $cross-table-border;
	font-weight: bold;
	vertical-align: middle;
}
.cross-table__text {
	padding: $cross-table-cell-padding;
	border-right: $cross-table-border;
	border-bottom: $cross-table-border;
	vertical-align: middle;
}
.cross-table__header:last-child,
.cross-table__text:last-child {
	border-right-width: 0;
}
.cross-table__body-row:last-child .cross-table__header,
.cross-table__body-row:last-child .cross-table__text {
	border-bottom-width: 0;
}
@media screen and (max-width: 768px) {
	.cross-table {
		border-right-width: 0;
		overflow-x: auto;
	}
	.cross-table__inner {
		width: auto;
		min-width: 100%;
	}
	.cross-table__header,
	.cross-table__text {
		white-space: nowrap;
	}
	.cross-table__header:last-child,
	.cross-table__text:last-child {
		border-right-width: 1px;
	}
	.cross-table__header--md-sticky {
		position: sticky;
		left: 0;
	}
}
