// 18-1. Vertical Tables
// ==========================================================================

$vertical-table-border: 1px solid #ddd !default;
$vertical-table-background-color: #efefef !default;
$vertical-table-cell-padding: 15px !default;
$vertical-table-border-radius: 2px !default;

$vertical-table-striped-color: 1px solid rgba(242, 242, 242, .5) !default;
$vertical-table-striped-border: 1px solid #444 !default;

// vertical-table
.vertical-table {
	border: $vertical-table-border;
}
.vertical-table__inner {
	width: 100%;
	text-align: center;
	table-layout: fixed;
	border-radius: $vertical-table-border-radius;
}
.vertical-table__header-row {
	background-color: $vertical-table-background-color;

	& > .vertical-table__header {
		padding: $vertical-table-cell-padding;
		border-right: $vertical-table-border;
		border-bottom: $vertical-table-border;
		font-weight: bold;
		vertical-align: middle;
	}
}
.vertical-table__text {
	padding: $vertical-table-cell-padding;
	border-right: $vertical-table-border;
	border-bottom: $vertical-table-border;
	vertical-align: middle;
}
.vertical-table__header:last-child,
.vertical-table__text:last-child {
	border-right-width: 0;
}
.vertical-table__body-row:last-child .vertical-table__text {
	border-bottom-width: 0;
}

// vertical-table--highlight
.vertical-table.vertical-table--highlight {
	.vertical-table__body-row {
		transition: background-color .25s ease;
		&:hover {
			background-color: $vertical-table-striped-color;
		}
	}
}

// vertical-table--striped
.vertical-table.vertical-table--striped {
	.vertical-table__header-row {
		background-color: #fff;
	}
	.vertical-table__header {
		border-bottom: $vertical-table-striped-border;
		border-right: none;
	}

	.vertical-table__text {
		border-right: none;
		border-bottom: none;
	}

	.vertical-table__body {
		& > .vertical-table__body-row:nth-child(odd) {
			background-color: $vertical-table-striped-color;
		}
	}
}

// vertical-table(media-query)
@media screen and (max-width: 768px) {
	.vertical-table {
		border-right-width: 0;
		overflow-x: auto;
	}
	.vertical-table__inner {
		width: auto;
		min-width: 100%;
	}
	.vertical-table__header,
	.vertical-table__text {
		white-space: nowrap;
	}
	.vertical-table__header:last-child,
	.vertical-table__text:last-child {
		border-right-width: 1px;
	}
}
