// button--structure
$button-border: none !default;
$button-background-focus: lighten($secondary-color, 4%) !default;
$button-font-size: 14px !default;
$button-icon-font-size: 1.3rem !default;
$button-height: 36px !default;
$button-width: auto !default;
$button-padding: 0 16px !default;
$button-radius: 2px !default;
// button--skin
$button-background: $secondary-color !default;
$button-background-hover: lighten($button-raised-background, 5%) !default;
$button-color: #fff !default;
$button-outline: 0;

// .btn.btn--disabled
$button-disabled-background: #dfdfdf !default;
$button-disabled-color: #9f9f9f !default;


// Large buttons
$button-large-font-size: 15px !default;
$button-large-icon-font-size: 1.6rem !default;
$button-large-height: $button-height * 1.5 !default;
$button-floating-large-size: 56px !default;

// Small buttons
$button-small-font-size: 13px !default;
$button-small-icon-font-size: 1.2rem !default;
$button-small-height: $button-height * .9 !default;
$button-floating-small-size: $button-height * .9 !default;

// Flat buttons
$button-flat-color: #343434 !default;
$button-flat-disabled-color: lighten(#999, 10%) !default;

// Floating buttons
$button-floating-background: $secondary-color !default;
$button-floating-background-hover: $button-floating-background !default;
$button-floating-color: #fff !default;
$button-floating-size: 40px !default;
$button-floating-radius: 50% !default;


// ボタンストラクチャー
.btn {
	// --Structure--
	border: $button-border;
	border-radius: $button-radius;
	display: inline-block;
	height: $button-height;
	width: $button-width;
	max-width: 100%;
	line-height: $button-height;
	padding: $button-padding;
	// text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	// --Skin--
	text-decoration: none;
	color: $button-color;
	font-size: $button-font-size;
	background-color: $button-background;
	text-align: center;
	outline: $button-outline;
	letter-spacing: .5px;
	@extend .z-depth-1;
	transition: background-color .2s ease-out;
	cursor: pointer;

	& > .btn__icon {
		font-size: $button-icon-font-size;
		line-height: inherit;
	}

	&:hover {
		background-color: $button-background-hover;
		@extend .z-depth-1-half;
	}
	&:focus {
		background-color: darken($button-background, 10%);
	}

	&.btn--disabled {
		pointer-events: none;
		background-color: $button-disabled-background;
		box-shadow: none;
		color: $button-disabled-color;
		cursor: default;
		&:hover {
			background-color: $button-disabled-background;
			color: $button-disabled-color;
		}
	}

	&.btn--large {
		height: $button-large-height;
		line-height: $button-large-height;
		font-size: $button-large-font-size;
		padding: 0 28px;

		& > .btn--large__icon {
			font-size: $button-large-icon-font-size;
		}
	}

	&.btn--small {
		height: $button-small-height;
		line-height: $button-small-height;
		font-size: $button-small-font-size;

		& > .btn--small__icon {
			font-size: $button-small-icon-font-size;
		}
	}

	&.btn--block {
		display: block;
	}

	&.btn--flat {
		box-shadow: none;
		background-color: transparent;
		color: $button-flat-color;
		cursor: pointer;
		transition: background-color .2s;
		&:focus,
		&:hover {
			box-shadow: none;
		}
		&:focus {
			background-color: rgba(0, 0, 0, .1);
		}
		&.disabled,
		&.btn-flat[disabled] {
			background-color: transparent;
			color: $button-flat-disabled-color;
			cursor: default;
		}
	}
}

.btn--primary {
	background-color: $primary-color;
}
