// 2. Badges
// ==========================================================================

$badge-bg-color: $secondary-color !default;
$badge-height: 22px !default;

// Badges
.badge {
	// --structure--
	min-width: 3rem;
	padding: 0 6px;
	margin-left: 14px;
	line-height: $badge-height;
	height: $badge-height;
	float: right;
	box-sizing: border-box;
	// --skin--
	text-align: center;
	font-size: 1rem;
	color: color("grey", "darken-1");

	&.new {
		font-weight: 300;
		font-size: .8rem;
		color: #fff;
		background-color: $badge-bg-color;
		border-radius: 2px;
	}
	&.new:after {
		content: " new";
	}

	// &[data-badge-caption]::after {
	// 	content: " " attr(data-badge-caption);
	// }
}

// Special cases
// nav ul a span.badge {
// 	display: inline-block;
// 	float: none;
// 	margin-left: 4px;
// 	line-height: $badge-height;
// 	height: $badge-height;
// 	-webkit-font-smoothing: auto;
// }

// Line height centering
// .collection-item span.badge {
// 	margin-top: calc(#{$collection-line-height / 2} - #{$badge-height / 2});
// }
// .collapsible span.badge {
// 	margin-left: auto;
// }
// .sidenav span.badge {
// 	margin-top: calc(#{$sidenav-line-height / 2} - #{$badge-height / 2});
// }

// table span.badge {
// 	display: inline-block;
// 	float: none;
// 	margin-left: auto;
// }
