// Shared styles
$button-border: none !default;
$button-background-focus: lighten($secondary-color, 4%) !default;
$button-font-size: 14px !default;
$button-icon-font-size: 1.3rem !default;
$button-height: 36px !default;
$button-padding: 0 16px !default;
$button-radius: 2px !default;

// Disabled styles
$button-disabled-background: #dfdfdf !default;
$button-disabled-color: #9f9f9f !default;

// Raised buttons
$button-raised-background: $secondary-color !default;
$button-raised-background-hover: lighten($button-raised-background, 5%) !default;
$button-raised-color: #fff !default;

// Large buttons
$button-large-font-size: 15px !default;
$button-large-icon-font-size: 1.6rem !default;
$button-large-height: $button-height * 1.5 !default;
$button-floating-large-size: 56px !default;

// Small buttons
$button-small-font-size: 13px !default;
$button-small-icon-font-size: 1.2rem !default;
$button-small-height: $button-height * .9 !default;
$button-floating-small-size: $button-height * .9 !default;

// Flat buttons
$button-flat-color: #343434 !default;
$button-flat-disabled-color: lighten(#999, 10%) !default;

// Floating buttons
$button-floating-background: $secondary-color !default;
$button-floating-background-hover: $button-floating-background !default;
$button-floating-color: #fff !default;
$button-floating-size: 40px !default;
$button-floating-radius: 50% !default;


// ボタンストラクチャー
.btn,
.btn-flat {
	border: $button-border;
	border-radius: $button-radius;
	display: inline-block;
	height: $button-height;
	line-height: $button-height;
	padding: $button-padding;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent; // Gets rid of tap active state
}

// Shared icon styles
.btn,
.btn-floating,
.btn-large,
.btn-small,
.btn-flat {
	font-size: $button-font-size;
	outline: 0;
	i {
		font-size: $button-icon-font-size;
		line-height: inherit;
	}
}

// ボタンレイアウト
.btn {
	text-decoration: none;
	color: $button-raised-color;
	background-color: $button-raised-background;
	text-align: center;
	letter-spacing: .5px;
	// @extend .z-depth-1;
	transition: background-color .2s ease-out;
	cursor: pointer;
	&:focus {
		background-color: darken($button-raised-background, 10%);
	}
	&:hover {
		background-color: $button-raised-background-hover;
		// @extend .z-depth-1-half;
	}
}

// Shared focus button style
// .btn,
// .btn-floating {
// 	&:focus {
// 		background-color: darken($button-raised-background, 10%);
// 	}
// }
