// 7. Chips
// ==========================================================================

$chip-bg-color: #e4e4e4 !default;
$chip-border-color: #9e9e9e !default;
$chip-selected-color: #26a69a !default;
$chip-margin: 5px !default;

.chip {
	// --structure--
	display: inline-block;
	height: 32px;
	line-height: 32px;
	border-radius: 16px;
	padding: 0 12px;
	margin-bottom: $chip-margin;
	margin-right: $chip-margin;
	// --skin--
	font-size: 13px;
	font-weight: 500;
	color: rgba(0, 0, 0, .6);
	background-color: $chip-bg-color;

	&:focus {
		outline: none;
		background-color: $chip-selected-color;
		color: #fff;
	}

	> img {
		float: left;
		margin: 0 8px 0 -12px;
		height: 32px;
		width: 32px;
		border-radius: 50%;
	}

	& > .close {
		cursor: pointer;
		float: right;
		font-size: 16px;
		line-height: 32px;
		padding-left: 8px;
	}
}
