// 21. Footer
// ==========================================================================

$footer-font-color: #fff !default;
$footer-bg-color: #666 !default;
$footer-copyright-font-color: rgba(255, 255, 255, .8) !default;
$footer-copyright-bg-color: rgba(51, 51, 51, .08) !default;

// Footer
.page-footer {
	padding-top: 20px;
	color: $footer-font-color;
	background-color: $footer-bg-color;

	.page-footer__copyright {
		overflow: hidden;
		min-height: 50px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0;
		color: $footer-copyright-font-color;
		background-color: $footer-copyright-bg-color;
	}
}

.footer-list {
	.footer-list__item--link {
		display: block;
	}
}
