// // Media Query Ranges
// $small-screen-up: 601px !default;
// $medium-screen-up: 993px !default;
// $large-screen-up: 1201px !default;
// $small-screen: 600px !default;
// $medium-screen: 992px !default;
// $large-screen: 1200px !default;

// $medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
// $large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
// $extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
// $small-and-down: "only screen and (max-width : #{$small-screen})" !default;
// $medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
// $medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

// $num-cols: 12 !default;
// $gutter-width: 1.3rem !default;
// $element-top-margin: $gutter-width/3 !default;
// $element-bottom-margin: ($gutter-width*2)/3 !default;

// .container {
// 	margin: 0 auto;
// 	max-width: 1280px;
// 	width: 90%;
// }
// //
// @media #{$medium-and-up} {
// 	.container {
// 		width: 85%;
// 	}
// }
// @media #{$large-and-up} {
// 	.container {
// 		width: 70%;
// 	}
// }

// .section {
// 	padding-top: 1rem;
// 	padding-bottom: 1rem;
// }

// // Mixins to コードの重複を避ける
// @mixin reset-offset {
// 	margin-left: auto;
// 	left: auto;
// 	right: auto;
// }

// .row {
// 	margin-left: auto;
// 	margin-right: auto;
// 	margin-bottom: -$element-bottom-margin;

// 	// Clear floating children
// 	&::after {
// 		content: "";
// 		display: table;
// 		clear: both;
// 	}

// 	.col {
// 		float: left;
// 		box-sizing: border-box;
// 		// 上下のギャップ
// 		padding: 0 $gutter-width / 2;
// 		min-height: 1px;
// 		margin-bottom: $element-bottom-margin;

// 		// unquote関数 -> ""を消す(数値化)
// 		// .col .s* を大量生産しているだけ
// 		$i: 1;
// 		@while $i <= $num-cols {
// 			$perc: unquote((100 / ($num-cols / $i)) + "%");
// 			&.s#{$i} {
// 				width: $perc;
// 				@include reset-offset;
// 			}
// 			$i: $i + 1;
// 		}

// 		@media #{$medium-and-up} {
// 			$i: 1;
// 			@while $i <= $num-cols {
// 				$perc: unquote((100 / ($num-cols / $i)) + "%");
// 				&.m#{$i} {
// 					width: $perc;
// 					@include reset-offset;
// 				}
// 				$i: $i + 1;
// 			}
// 		}

// 		@media #{$large-and-up} {
// 			$i: 1;
// 			@while $i <= $num-cols {
// 				$perc: unquote((100 / ($num-cols / $i)) + "%");
// 				&.l#{$i} {
// 					width: $perc;
// 					@include reset-offset;
// 				}
// 				$i: $i + 1;
// 			}
// 		}

// 		@media #{$extra-large-and-up} {
// 			$i: 1;
// 			@while $i <= $num-cols {
// 				$perc: unquote((100 / ($num-cols / $i)) + "%");
// 				&.xl#{$i} {
// 					width: $perc;
// 					@include reset-offset;
// 				}
// 				$i: $i + 1;
// 			}
// 		}
// 	}
// }

// // ネスト
// .col .row {
// 	// 両サイドで溝(gutter)の半分ずつ縮小する
// 	margin-left: (-1 * $gutter-width / 2);
// 	margin-right: (-1 * $gutter-width / 2);
// }
